html,body{
    padding:0px;
    margin:0px;
}

body{
    background-color: rgb(216, 192, 161);
}

input:focus::placeholder {
    color: transparent;
  }

/* CREATE */

#PoemTitleInput {
    margin: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: hidden;
    background: transparent;
    outline: transparent;
    text-align: center;
}

#PoemTextInput {
    max-width: 800px;
    min-width: 300px;
    min-height: 500px;
    font-size: 18px;
    background-color: rgb(253, 237, 218);
    border: hidden;
    outline-color: rgb(168, 136, 96);
    line-height: 30px;
    text-align: center;
}

.poem-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

/* NAVBAR */
.navbar{
    height: 30px;
    margin: 0;
    padding: 0;
    background-color:rgba(49, 44, 38, 0.856);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.navLink {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255); 
}

/* EXPLORE */
.poem-feed{
    display: flex;
    justify-content: center;
    background-color: rgb(212, 115, 115);
}

#poem-feed-item {
    background-color: rgb(240, 230, 176);
    border: 1px solid red;
}

#poem-feed-user {
    font-weight: 700;
    margin: 5px;
    background-color: rgb(240, 230, 176);
}

#poem-feed-title {
    text-align: center;
    font-weight: 530;
    font-style: italic;
    font-size: medium;
    color:rgb(83, 83, 82);
    margin: 5px;
    background-color: rgb(240, 230, 176);
}

#poem-feed-date {
    margin: 5px;
    font-size: smaller;
}

#poem-feed-content {
    min-width: 400px;
    margin: 5px;
    padding: 10px;
    white-space:pre-wrap;
    background-color: rgb(226, 197, 152);
}

#poem-feed-comments {

}


 /* *{ border: 1px solid black; } */
